<h1>Conversations</h1>
<h2>Inbox</h2>
<div id="inbox">
  <%= render collection: mailbox.inbox, partial: 'conversation' %>
</div>
<h2>Sent</h2>
<div id="sent">
  <%= render collection: mailbox.sentbox, partial: 'conversation' %>
</div>
<h2>Trash</h2>
<div id="trash">
  <%= render collection: mailbox.trash, partial: 'conversation' %>
</div>
<%= link_to 'Start Conversation', :new_conversation, class: "btn btn-primary" %>
