<% content_for :messenger do %>
  <% if params[:filter] == 'inbox' %>
    <h1>Inbox</h1>
    <table class="table table-bordered">
      <tbody><%= render collection: mailbox.inbox, partial: 'conversation' %></tbody>
    </table>
  <% elsif params[:filter] == 'sent' %>
    <h1>Sent Messages</h1>
    <table class="table table-bordered">
      <tbody><%= render collection: mailbox.sentbox, partial: 'conversation' %></tbody>
    </table>
  <% else %>
    <h1>Trash</h1>
    <table class="table table-bordered">
      <tbody><%= render collection: mailbox.trash, partial: 'conversation' %></tbody>
    </table>
  <% end %>
<% end %>
