<% if @clients.length >= 1 %>
<div class="table-responsive">
  <table width="100%" class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Client</th>
        <th>Email</th>
        <th>Status</th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.full_name%></td>
          <td><%= client.email %></td>
          <td><%= client.client_status(current_user) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
<h3>No Clients!</h3>
<% end %>

<div class="text-center"><%= paginate @clients, theme: 'bootstrap3' %></div>
