<% if info_request.category_name == "Text" %>
<span class="label label-text">Text</span>
<% end %>
<% if info_request.category_name == "Image" %>
<span class="label label-image">Image</span>
<% end %>
<% if info_request.category_name == "File" %>
<span class="label label-file">File</span>
<% end %>
<% if info_request.category_name == "Login" %>
<span class="label label-login">Login</span>
<% end %>
